<h2>お気に入り一覧</h2>

<% @favorites.each do |favorite| %>
	<% product = Product.find(favorite.product_id) %>
	<li><%= link_to product.name, product_path(product) %></li>
	<div><%#= link_to "ブックマークから削除", product_favorites_path(favorite), method: :delete %></div><br>
<!-- エラー中 -->

<% end %>