<h2>ブックマーク一覧</h2>

<% @favorites.each do |favorite| %>
	<% product = Product.find(favorite.product_id) %>
	<div><%= link_to product.name, product_path(product) %></div>
	<div><%= link_to "ブックマークから削除", product_favorites_path(favorite), method: :delete %></div>

<% end %>