<h3 class="text-center">会員一覧</h3>
	<table class="table customers-index">
		<thead class="thead-light">
			<th class="text-center">氏名</th>
			<th>在住</th>
		</thead>

	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td class="text-center"><%= link_to user.name, user_path(user) , length: 10 %></td>
			<td><%= user.prefecture_code %></td>
		<% end %>
		</tr>
	</tbody>
	</table>

<%= paginate @users %>
