
<% if @user_or_product == "1"%>
    <h1>ユーザー</h1>
    <table>
        <% @users.each do |user| %>
        <thead>
            <tr>
                <th></th>
                <th><%= user.name %> </th>
            </tr>
        </thead>
        <% end %>
    </table>
 
<% elsif @user_or_product == "2" %>
    <h2>場所</h2>
    <table>
    <% @products.each do |product| %>
        <thead>
            <tr>
                <th></th>
                <th><%= product.name %></th>
            </tr>
        </thead>
    <% end %>
    </table>
<% else %>
<% end %>