<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center mb-2">
      <h2 class="title">本当に退会しますか？</h2>
      <p>退会すると、会員登録情報や<br>
      場所が閲覧できなくなります。<br>
      退会する場合は、「退会する」をクリックしてください。<br>
      </p>
      <% if current_user.id == 3 %>
      <% else %>
      <%= link_to "退会しない",user_path(current_user.id), class: "btn01" %>
      <%= link_to "退会する", users_usubscribe_path, method: :patch, "data-confirm" => "本当に退会するの？", class: "btn02" %>
      <% end %>
    </div>
  </div>
</div>