/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*bootstrap*/
@import "bootstrap-sprockets";
@import "bootstrap";



// お気に入り-----------------
.glyphicon-heart {
  color: #FF66FF
}

// 星レビュー-----------------
.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;
}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}

.average-score {
  display: flex;
}
.average-score-display {
  font-size: 16px;
}

// error-------------------------------------------
.alert{
    color:#262626;
    background:#F5F0DA;
    text-align: center;
    border:2px solid #990000;
    padding:12px; font-weight:850;}
.error{
    color:#262626;
    background:#F5F0DA;
    text-align: center;
    border:2px solid #990000;
    padding:12px; font-weight:850;}

.notice {
    color:#262626;
    background:#ffebe800;
    text-align: center;
    border: 2px solid #2196F3;
    padding:12px; font-weight:850;
  }
  .error li{
  list-style:none;
  }

// video------------------------------------------
.wrap-video{
  position:relative;
}

.wrap-video video{
  width: 100%;
  height:100%
}

.wrap-video .text{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); /*上下左右中央寄せ*/
  text-align:center;
}

.wrap-video .text p{
  font-size:16px;
  font-weight:bold;
  color:white;
}

.wrap-video .text .headline{
  font-size:20px;
}

