<div class="f-container">
	<%#= link_to root_path do %>
	<figure class="item_image5"></figure>
	
</div>
<div class="container">
	<div class="row about_row">
		<div class="col-xs-6">
			 マイプロテインの活動
    世界中で、全ての方がそれぞれの目標に向かって努力しています。マイプロテインの目標は、日々の活動を通じて皆様の目標達成のサポートをすることです。その一環として、目標を問わず利用でき、かつ最高のスポーツ栄養製品を製造しています。スポーツ栄養製品に対して、皆様は様々なニーズを抱えています。たとえば、食スタイルで分けられるベジタリアン、ビーガン、乳製品不使用、グルテンフリーなどです。マイプロテインは、皆様のニーズに応え、優れた価値を有する幅広い製品をお届けしています。そのためだれでも高品質な栄養食品をお楽しみいただけるのです。
    マイプロテインのプロテイン製品は全て自社製となっています。ですので、第3者コストをかけずにお求めやすい価格で商品をお届けできます。また、品質が最高であることについては様々な機関からの保証もあります。純度の高い製品をきちんとお届けしたい、またマイプロテインから発送される全製品が最高の品質基準を満たすものにしたい、と考えています。それを達成するための最新の製造施設・試験方法については投資を惜しみません。
    マイプロテインがお届けする製品は高品質スポーツ栄養製品に特化していますが、さまざまなスポーツウェアも製造・販売しています。スポーツウェアには最新のデザインや高機能生地を用いています。マイプロテインのスポーツウェアで目標達成に努力する人方全員のサポートができればと願っています。
    またマイプロテインのコミュニティには様々なスキルや能力を持つ人が多数参加し、拡大中です。そのため、マイプロテインがお届けするブログやSNSを通じて最新で重要な栄養についての情報がシェアできます。シェアする内容は、レシピ、ワークアウトなどで、皆様がフィットネスを行う上で役立つ情報を提供しサポートしたいと考えています。
		</div>
		<div class="col-xs-6 about_image1">
		</div>
	</div>

	<div class="row about_row">
		<div class="col-xs-6">
			 マイプロテインの活動
    世界中で、全ての方がそれぞれの目標に向かって努力しています。マイプロテインの目標は、日々の活動を通じて皆様の目標達成のサポートをすることです。その一環として、目標を問わず利用でき、かつ最高のスポーツ栄養製品を製造しています。スポーツ栄養製品に対して、皆様は様々なニーズを抱えています。たとえば、食スタイルで分けられるベジタリアン、ビーガン、乳製品不使用、グルテンフリーなどです。マイプロテインは、皆様のニーズに応え、優れた価値を有する幅広い製品をお届けしています。そのためだれでも高品質な栄養食品をお楽しみいただけるのです。
    マイプロテインのプロテイン製品は全て自社製となっています。ですので、第3者コストをかけずにお求めやすい価格で商品をお届けできます。また、品質が最高であることについては様々な機関からの保証もあります。純度の高い製品をきちんとお届けしたい、またマイプロテインから発送される全製品が最高の品質基準を満たすものにしたい、と考えています。それを達成するための最新の製造施設・試験方法については投資を惜しみません。
    マイプロテインがお届けする製品は高品質スポーツ栄養製品に特化していますが、さまざまなスポーツウェアも製造・販売しています。スポーツウェアには最新のデザインや高機能生地を用いています。マイプロテインのスポーツウェアで目標達成に努力する人方全員のサポートができればと願っています。
    またマイプロテインのコミュニティには様々なスキルや能力を持つ人が多数参加し、拡大中です。そのため、マイプロテインがお届けするブログやSNSを通じて最新で重要な栄養についての情報がシェアできます。シェアする内容は、レシピ、ワークアウトなどで、皆様がフィットネスを行う上で役立つ情報を提供しサポートしたいと考えています。
		</div>
		<div class="col-xs-6 about_image2">
  </div>

	</div>



	<div class="row about_row">
		<div class="col-xs-6">
			 マイプロテインの活動
    世界中で、全ての方がそれぞれの目標に向かって努力しています。マイプロテインの目標は、日々の活動を通じて皆様の目標達成のサポートをすることです。その一環として、目標を問わず利用でき、かつ最高のスポーツ栄養製品を製造しています。スポーツ栄養製品に対して、皆様は様々なニーズを抱えています。たとえば、食スタイルで分けられるベジタリアン、ビーガン、乳製品不使用、グルテンフリーなどです。マイプロテインは、皆様のニーズに応え、優れた価値を有する幅広い製品をお届けしています。そのためだれでも高品質な栄養食品をお楽しみいただけるのです。
    マイプロテインのプロテイン製品は全て自社製となっています。ですので、第3者コストをかけずにお求めやすい価格で商品をお届けできます。また、品質が最高であることについては様々な機関からの保証もあります。純度の高い製品をきちんとお届けしたい、またマイプロテインから発送される全製品が最高の品質基準を満たすものにしたい、と考えています。それを達成するための最新の製造施設・試験方法については投資を惜しみません。
    マイプロテインがお届けする製品は高品質スポーツ栄養製品に特化していますが、さまざまなスポーツウェアも製造・販売しています。スポーツウェアには最新のデザインや高機能生地を用いています。マイプロテインのスポーツウェアで目標達成に努力する人方全員のサポートができればと願っています。
    またマイプロテインのコミュニティには様々なスキルや能力を持つ人が多数参加し、拡大中です。そのため、マイプロテインがお届けするブログやSNSを通じて最新で重要な栄養についての情報がシェアできます。シェアする内容は、レシピ、ワークアウトなどで、皆様がフィットネスを行う上で役立つ情報を提供しサポートしたいと考えています。
		</div>
	</div>
<div class="col-xs-6 about_image3">
  </div>

</div>



