<div class="f-container">
	<div class="image4">
		<p class="pimage4 text-center pt-5">
			たまには、いつもと違う調べ方しませんか？
		</p>
	</div>
</div>

<div class="container">
	<div class="row about_row">
		<div class="col-xs-6 text-center">
			<h5 class="bold">たまには、いつもと違う休息しませんか？</h5>
		</div>
		<div class="col-xs-6 image1">
		</div>
	</div>

	<div class="row about_row">
			<div class="col-xs-6 image2">
  			</div>
		<div class="col-xs-6 text-center">
			 <h5 class="bold">たまには、いつもと違う移動方法使いませんか？</h5>
		</div>
	</div>

	<div class="row about_row">
		<div class="col-xs-6 text-center">
			 <h5 class="bold">たまには、いつもと違う時間に出掛けませんか？</h5>
		</div>
		<div class="col-xs-6 image3">
  		</div>
	</div>
</div>



