<footer class="pt-3">
	<div class="container mt-2">
		<div class="row">
			<div class="col-10 text-center gundam">
				© 2020 White GUNDUM.
				<button type="button" class="btn-xs" data-toggle="modal" data-target="#sampleModal">
				<i class="fas fa-robot robot"></i>
				</button>
			</div>
		</div>
			<div class="pull-right pb-1">
				<!--以下twitter-->
				<a href="#" class="btn-social-circle btn-social-circle--twitter">
  					<i class="fa fa-twitter"></i>
				</a>

				<!--以下facebook-->
				<a href="#" class="btn-social-circle btn-social-circle--facebook">
			  		<i class="fa fa-facebook"></i>
				</a>

				<!--以下pocket-->
				<a href="#" class="btn-social-circle btn-social-circle--pocket">
				 	<i class="fa fa-get-pocket"></i>
				</a>

				<!--以下feedly-->
				<a href="#" class="btn-social-circle btn-social-circle--feedly">
 					<i class="fa fa-rss"></i>
				</a>
			</div>
	</div>
</footer>



<!-- モーダル・ダイアログ -->
<div class="modal fade" id="sampleModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h4 class="modal-title">White GUNDUM. 説明</h4>
			</div>
			<div class="modal-body">
				DOKOIKUNYA作成者が初めて組んだ、チーム開発のチーム名です。
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
			</div>
		</div>
	</div>
</div>



