
<footer>
	<p class="footer-text">© 2020 White GUNDUM.<i class="fas fa-robot"></i>
	<p class="fab-right">
	<a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
	<a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
	<a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
</p>
</footer>